<body id="thank_you">
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=HBOPFWmZCdM',containment:'.video-section', quality:'720p', autoPlay:true, mute:true, opacity:1}"></a>

	<div class="thank_you_div">
        <div class="center">
         <a href="https://www.maps.org/images/pdf/books/lsdmyproblemchild.pdf">
        <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-paperclip"></i></button></a>

</div>
    </div>




	<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

<!--Video Section-->

    
  </div>
</section>
<!--Video Section Ends Here-->



</body>
